<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # منع إعادة التوجيه للملفات الفعلية (مثل JS، CSS، صور، الخ)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # إعادة توجيه كل الطلبات إلى التطبيق الذي يعمل على Node.js (في هذا الحال، على البورت 3000)
  RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]
</IfModule>
